body {
    margin: 0;
    background-color: #B7621B;
}
h1 {
    font-family: Futura, Helvetica, Arial, Calibri;
    text-align: center;
    text-shadow: #222222 2px 2px 2px;
    color: white;
    padding: 10px;
}

#box {
    border-radius: 25px;
    background-color: #159315;
    top: 60px;
    height: 600px;
    width: 970px;
    margin: auto;
    position: relative;
    box-shadow: 5px 5px 5px #222222;
}